workflows/studio-chat-ia-multicanal.json
{
  "name": "Studio Chat - IA Multi-Canal (Web + Telegram)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Web App",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "parameters": {
        "path": "assistant-chat",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "webhookId": "assistant-chat",
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 500],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "set-web-source",
      "name": "Set Source: Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "source", "name": "source", "type": "string", "value": "web"},
            {"id": "chatInput", "name": "chatInput", "type": "string", "value": "={{ $json.body.message || $json.body.chatInput || $json.body.text }}"},
            {"id": "sessionId", "name": "sessionId", "type": "string", "value": "={{ $json.body.sessionId || $json.body.userId || 'web_default' }}"},
            {"id": "userId", "name": "userId", "type": "string", "value": "={{ $json.body.userId || 'anonymous' }}"},
            {"id": "timestamp", "name": "timestamp", "type": "number", "value": "={{ Date.now() }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-telegram-source",
      "name": "Set Source: Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 500],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "source", "name": "source", "type": "string", "value": "telegram"},
            {"id": "chatInput", "name": "chatInput", "type": "string", "value": "={{ $json.message.text }}"},
            {"id": "sessionId", "name": "sessionId", "type": "string", "value": "=telegram_{{ $json.message.chat.id }}"},
            {"id": "telegramChatId", "name": "telegramChatId", "type": "string", "value": "={{ $json.message.chat.id }}"},
            {"id": "telegramUserId", "name": "telegramUserId", "type": "string", "value": "={{ $json.message.from.id }}"},
            {"id": "telegramUsername", "name": "telegramUsername", "type": "string", "value": "={{ $json.message.from.username || $json.message.from.first_name }}"},
            {"id": "userId", "name": "userId", "type": "string", "value": "=tg_{{ $json.message.from.id }}"},
            {"id": "timestamp", "name": "timestamp", "type": "number", "value": "={{ $json.message.date * 1000 }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [500, 350],
      "parameters": {
        "mode": "combine",
        "mergeByFields": {"values": []},
        "options": {}
      }
    },
    {
      "id": "ai-agent",
      "name": "AI Agent - Studio Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [750, 350],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu es PixelBot, l'assistant IA du studio de production vidéo \"Splash Banana\". \n\n## Tes capacités :\n- Conseiller sur la création de contenu vidéo et publicitaire\n- Proposer des concepts créatifs et des moodboards\n- Aider à la rédaction de scripts et scénarios\n- Donner des conseils techniques sur le montage vidéo\n- Assister dans la gestion des projets clients\n- Rechercher des informations sur le web si nécessaire\n\n## Instructions :\n- Réponds de manière concise et professionnelle\n- Utilise des emojis avec parcimonie pour rendre les réponses agréables\n- Si tu ne sais pas quelque chose, dis-le honnêtement\n- Adapte ton ton selon le contexte (créatif, technique, business)\n- Propose toujours des actions concrètes quand c'est pertinent\n\n## Contexte utilisateur :\n- Source: {{ $json.source }}\n- Session: {{ $json.sessionId }}\n- User ID: {{ $json.userId }}"
        }
      }
    },
    {
      "id": "gemini-model",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [750, 550],
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 2048
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "simple-memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [950, 550],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "switch-response",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [1000, 350],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $('Merge Inputs').item.json.source }}", "rightValue": "telegram", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $('Merge Inputs').item.json.source }}", "rightValue": "web", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web"
            }
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-send",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 250],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": {"__rl": true, "value": "={{ $('Merge Inputs').item.json.telegramChatId }}", "mode": "expression"},
        "text": "={{ $json.output }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Web App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1250, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.output, agentUsed: 'Gemini 2.0 Flash', sessionId: $('Merge Inputs').item.json.sessionId, timestamp: Date.now(), status: 'success' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "X-Powered-By", "value": "Splash-Banana-AI"}
            ]
          }
        }
      }
    },
    {
      "id": "set-final-telegram",
      "name": "Format Telegram Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 250],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "status", "name": "status", "type": "string", "value": "telegram_sent"},
            {"id": "messageId", "name": "messageId", "type": "string", "value": "={{ $json.message_id }}"}
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Web App": {"main": [[{"node": "Set Source: Web", "type": "main", "index": 0}]]},
    "Telegram Trigger": {"main": [[{"node": "Set Source: Telegram", "type": "main", "index": 0}]]},
    "Set Source: Web": {"main": [[{"node": "Merge Inputs", "type": "main", "index": 0}]]},
    "Set Source: Telegram": {"main": [[{"node": "Merge Inputs", "type": "main", "index": 1}]]},
    "Merge Inputs": {"main": [[{"node": "AI Agent - Studio Assistant", "type": "main", "index": 0}]]},
    "AI Agent - Studio Assistant": {"main": [[{"node": "Route Response", "type": "main", "index": 0}]]},
    "Google Gemini": {"ai_languageModel": [[{"node": "AI Agent - Studio Assistant", "type": "ai_languageModel", "index": 0}]]},
    "Chat Memory": {"ai_memory": [[{"node": "AI Agent - Studio Assistant", "type": "ai_memory", "index": 0}]]},
    "Route Response": {"main": [[{"node": "Send Telegram Response", "type": "main", "index": 0}], [{"node": "Respond to Web App", "type": "main", "index": 0}]]},
    "Send Telegram Response": {"main": [[{"node": "Format Telegram Success", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  }
}
